{% extends "seller-header.html" %}
{% load static %}
{% block content %}
  
<div class="margin_padding" style="margin: 20px; padding: 20px;">
<h4
class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
>
Elements
</h4>
<form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p style="color: blue;" >{{msg}}</p>
  <br>
<div
class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800"
>
<label class="block  mt-4 text-sm">
  <span class="text-gray-700 dark:text-gray-400">Product Name</span>
  <input
    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
    placeholder="product xyz"
    name="product_name"
    required
  />
</label>

<label class="block  mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">Price</span>
    <input
      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      placeholder="1256"
      name="price"
      required
    />
  </label>

  <label class="block  mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">Stocks</span>
    <input
      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      type="number"
      name="stock"
      required
    />
  </label>

  <label class="block  mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">Category</span>
    <select name="field" id="">

      {% for i in choices %}
        
      
      <option value="{{i.0}}">{{i.0}}</option>
      {% endfor %}
      <!-- <option value="women">women</option>
      <option value="bag">bag</option>
      <option value="watche">watche</option>
      <option value="shoes">shoes</option> -->
    </select>
  </label>
  

  <label class="block  mt-4 text-sm">
    <span class="text-gray-700 dark:text-gray-400">Product image</span>
    <input
      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
      placeholder="Jane Doe"
      type="file"
      name="product_pic"
      accept=".jpg,.png,.jpeg,.webp"
      required
    />
  </label>



<label class="block mt-4 text-sm">
  <span class="text-gray-700 dark:text-gray-400">Product Description</span>
  <textarea
    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
    rows="3"
    placeholder="Enter some long form content."
    name="des"
    required
  ></textarea>
</label>

<div class="flex mt-6 text-sm">
  <label class="flex items-center dark:text-gray-400">
    <button class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
      Add Product
    </button>
  </label>
</div>
</form>
</div>
</div>
{% endblock %}